<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmz121.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="com.zmz121.model.po.Task">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="public_user_id" jdbcType="BIGINT" property="publicUserId" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="product_location" jdbcType="VARCHAR" property="productLocation" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="is_daigou" jdbcType="TINYINT" property="isDaigou" />
    <result column="daigou_price" jdbcType="SMALLINT" property="daigouPrice" />
    <result column="task_price" jdbcType="SMALLINT" property="taskPrice" />
    <result column="public_date" jdbcType="TIMESTAMP" property="publicDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, public_user_id, school, title, content, tel, destination, product_location, comment, 
    is_daigou, daigou_price, task_price, public_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zmz121.model.po.Task">
    insert into task (id, public_user_id, school, 
      title, content, tel, 
      destination, product_location, comment, 
      is_daigou, daigou_price, task_price, 
      public_date)
    values (#{id,jdbcType=BIGINT}, #{publicUserId,jdbcType=BIGINT}, #{school,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{destination,jdbcType=VARCHAR}, #{productLocation,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{isDaigou,jdbcType=TINYINT}, #{daigouPrice,jdbcType=SMALLINT}, #{taskPrice,jdbcType=SMALLINT}, 
      #{publicDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zmz121.model.po.Task">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="publicUserId != null">
        public_user_id,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="destination != null">
        destination,
      </if>
      <if test="productLocation != null">
        product_location,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="isDaigou != null">
        is_daigou,
      </if>
      <if test="daigouPrice != null">
        daigou_price,
      </if>
      <if test="taskPrice != null">
        task_price,
      </if>
      <if test="publicDate != null">
        public_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="publicUserId != null">
        #{publicUserId,jdbcType=BIGINT},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="productLocation != null">
        #{productLocation,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="isDaigou != null">
        #{isDaigou,jdbcType=TINYINT},
      </if>
      <if test="daigouPrice != null">
        #{daigouPrice,jdbcType=SMALLINT},
      </if>
      <if test="taskPrice != null">
        #{taskPrice,jdbcType=SMALLINT},
      </if>
      <if test="publicDate != null">
        #{publicDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zmz121.model.po.Task">
    update task
    <set>
      <if test="publicUserId != null">
        public_user_id = #{publicUserId,jdbcType=BIGINT},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="productLocation != null">
        product_location = #{productLocation,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="isDaigou != null">
        is_daigou = #{isDaigou,jdbcType=TINYINT},
      </if>
      <if test="daigouPrice != null">
        daigou_price = #{daigouPrice,jdbcType=SMALLINT},
      </if>
      <if test="taskPrice != null">
        task_price = #{taskPrice,jdbcType=SMALLINT},
      </if>
      <if test="publicDate != null">
        public_date = #{publicDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zmz121.model.po.Task">
    update task
    set public_user_id = #{publicUserId,jdbcType=BIGINT},
      school = #{school,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      product_location = #{productLocation,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      is_daigou = #{isDaigou,jdbcType=TINYINT},
      daigou_price = #{daigouPrice,jdbcType=SMALLINT},
      task_price = #{taskPrice,jdbcType=SMALLINT},
      public_date = #{publicDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>